:root {
    --color-main: rgb(0, 255, 200);
    --color-dark: rgb(51, 51, 51);
    --radius: 7px;
}

body {
    background-color: var(--color-dark);
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 15px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px transparent;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GameInfo */
.GameInfo {

}

.GameInfo .menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}

.GameInfo .menu-box .score {
    font-weight: bold;
    font-size: 22px;
    color: var(--color-main);
}

.GameInfo .menu-box .buttons {
    display: flex;
}

.GameInfo .menu-box .buttons .btn {
    width: fit-content;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 15px;
    border: 1px solid var(--color-main);
    border-radius: var(--radius);
    cursor: pointer;
    transition: .2s;
}

.GameInfo .menu-box .buttons .btn:hover {
    background-color: var(--color-main);
    color: var(--color-dark);
}

/* GameBox */
.GameBox {

}

.GameBox .canvas-box {
    position: relative;
    border: 1px solid var(--color-main);
    border-radius: var(--radius);
    box-shadow: 0 0 8px 0 var(--color-main);
}

.Pause {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pause .bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pause .bars div {
    width: 15px;
    height: 45px;
    background-color: white;
    margin: 0 5px;
}

.ConfirmBox {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ConfirmBox .msg-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 140px;
    transform: translate(-50%, -50%);
    border-radius: var(--radius);
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 7px 0 var(--color-main);
}

.ConfirmBox .msg-box .msg {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 19px;
}

.ConfirmBox .msg-box .btns {
    display: flex;
    height: 40px;
}

.ConfirmBox .msg-box .btns > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    cursor: pointer;
    transition: .3s;
}

.ConfirmBox .msg-box .btns > div:hover {
    background-color: var(--color-main);
    color: black;
}

.ConfirmBox .msg-box .btns .y {
    border-bottom-left-radius: var(--radius);
}

.ConfirmBox .msg-box .btns .n {
    border-bottom-right-radius: var(--radius);
}

.HistoryBox {
    z-index: 10;
    position: fixed;
    top: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    transform: translateX(-50%);
    /* border: 1px solid red; */
}

.HistoryBox .top {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 10px;
    /* border: 1px solid blue; */
}

.HistoryBox .slider {
    max-height: 120px;
    overflow: auto;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    /* border: 1px solid yellow; */
}

.HistoryBox .slider .content {
    display: flex;
}
.HistoryBox .slider .score {
    min-width: 35px;
    color: var(--color-main);
}

.HistoryBox .slider > div {
    height: 25px;
    text-align: left;
    padding-right: 7px;
}
 
.HistoryBox .btn-clear {
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    font-weight: bold;
    font-size: 13px;
    color: black;
    padding: 3px 10px;
    border-radius: var(--radius);
    transition: .3s;
    cursor: pointer;
}

.HistoryBox .btn-clear:hover {
    transform: translateY(-2px);
}
