:root {
    --color-main: rgb(0, 255, 200);
    --color-dark: rgb(51, 51, 51);
    --radius: 7px;
}

body {
    background-color: var(--color-dark);
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GameInfo */
.GameInfo {

}

.GameInfo .menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
}

.GameInfo .menu-box .score {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-main);
}

.GameInfo .menu-box .buttons {
    display: flex;
}

.GameInfo .menu-box .buttons .btn {
    width: fit-content;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 15px;
    border: 1px solid var(--color-main);
    border-radius: var(--radius);
    cursor: pointer;
    transition: .2s;
}

.GameInfo .menu-box .buttons .btn:hover {
    background-color: var(--color-main);
    color: var(--color-dark);
}

/* GameBox */
.GameBox {

}

.GameBox .canvas-box {
    position: relative;
    border: 1px solid var(--color-main);
    border-radius: var(--radius);
    box-shadow: 0 0 8px 0 var(--color-main);
}

.Pause {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pause .bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pause .bars div {
    width: 15px;
    height: 45px;
    background-color: white;
    margin: 0 5px;
}




